{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/country_list.css' %}">
    <title>Страны</title>
</head>
<body>
    <h1>Список стран</h1>
        <h3>
            <ul>
                {% for country in countries %}
                    <li><a href="{% url 'country_detail' country.id %}">{{ country.name }}</a></li>
                {% endfor %}
            </ul>
        </h3>
</body>
</html>